html,body{
    overflow: hidden;
    width:100%;
    height: 100%;
}
html {
    font-size: 100px;
    /*--设置的字体大小不会根据浏览器的改变而发生改变,只有写在HTML中才起到作用--*/
    -webkit-text-size-adjust: none;
}
body {
    /*--在移动端由于手机内置的字体包不一样,我们尽量使用“微软雅黑”和“无衬字体”,保证不同手机下字体的样式视觉感良好--*/
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    font-size: 12px;
    color: #424242;
    /*--禁止用户选中文字,但是不能给INPUT标签添加这个样式,否则在苹果手机中我们是无法输入内容的--*/
    -webkit-user-select: none;
}
*{
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
#swiper1,.swiper-wrapper,.swiper-slide,.swiper-slide ul{

    width:100%;
    height: 100%;

}
.swiper-slide ul{
    position: relative;
    background:url("../img/1 (18).png")no-repeat 0 0;
    background-size: cover;
}
.swiper-slide  .left-1{
     position: absolute;
     width:1.65rem;
     height: 1.32rem;
     left:0;
     top:0;
    background: url("../img/1 (6).png")no-repeat 0 0;
    background-size: cover;
 }
.swiper-slide  .right-1{
    position: absolute;
    width:1.65rem;
    height: 1.32rem;
    right:0;
    top:0;
    background: url("../img/1 (5).png")no-repeat 0 0;
    background-size: cover;
}
.swiper-slide  li{
    opacity: 0;
}
.slide1 .left-1,.slide1 .right-1{
    opacity: 1;
}
#page1 .left-1,#page2 .left-1,#page3 .left-1,#page4 .left-1,#page5 .left-1,#page6 .left-1{
    opacity: 1;
    -webkit-animation: bounceInLeft 1s Linear 1s;
    animation: bounceInLeft 1s Linear 1s;
}
#page1 .right-1,#page2 .right-1,#page3 .right-1, #page4 .right-1,#page5 .right-1, #page6 .right-1{
    opacity: 1;
    -webkit-animation: bounceInRight 1s Linear 1s;
    animation: bounceInRight 1s Linear 1s;
}
#page2 .list-cicle{
    opacity: 1;
    -webkit-animation: pulse 1s ease-in .2s;
    animation: pulse 1s ease-in .2s;
}
#page2 .item1{
    opacity: 1;
    -webkit-animation: zoomInLeft 1s ease-in ;
    animation: zoomInLeft 1s ease-in ;
}
#page2 .item2{
    opacity: 1;
    -webkit-animation: slideInRight 2s ease-in ;
    animation: slideInRight 2s ease-in ;
}
#page2 .item3{
    opacity: 1;
    -webkit-animation: slideInDown 1s ease-in ;
    animation: slideInDown 1s ease-in ;
}
#page2 .item4{
    opacity: 1;
    -webkit-animation: rollOut 1s ease-in ;
    animation: rollOut 1s ease-in ;
}

.swiper-slide ul .list-cicle{
    width:1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    position: absolute;
    left:0;
   right:0;
    margin:auto;
    top:0.84rem;
    background: url("../img/6.jpg")no-repeat 0 0;
    background-size: cover;
    font-size: .38rem;
    /*color:#4ec1ba;*/
    overflow: hidden;
    color:transparent;
    border-radius: 50%;
    /*transform: rotate(10deg);*/
}
.swiper-slide ul .item1{
    width:.21rem;
    height: .31rem;
    position: absolute;
    left:.2rem;
    top:1.8rem;
    background: url("../img/4.png")no-repeat 0 0;
    background-size: cover;

}
.swiper-slide ul .item2{
     width:.3rem;
     height: .42rem;
     position: absolute;
     right:.93rem;
     top:1.07rem;
     background: url("../img/1 (12).png")no-repeat 0 0;
     background-size: cover;

 }
.swiper-slide ul .item3{
    width:.21rem;
    height: .31rem;
    position: absolute;
    right:.87rem;
    top:1.59rem;
    background: url("../img/1 (12).png")no-repeat 0 0;
    background-size: cover;

}
.swiper-slide ul .item4{
    width:.16rem;
    height: .22rem;
    position: absolute;
    right:.46rem;
    top:2.18rem;
    background: url("../img/1 (12).png")no-repeat 0 0;
    background-size: cover;

}
.swiper-slide ul .product{
    position: absolute;
    margin:auto;
    left:0;
    right:0;
    top:2.34rem;
    width:2.35rem;
}
.product>div{
    width:2.35rem;
    height: .55rem;
    line-height: .55rem;
    margin-bottom:.26rem;
    opacity: 0;
}
.product .one .left-l{
    width:.55rem;
    height: .55rem;
    line-height: .55rem;
    text-align: center;
    font-size: .24rem;
    color:#333;
    float: left;
    background: url("../img/1 (14).png")no-repeat 0 0;
    background-size: cover;
}
.product  .right-r{
    float: right;
    text-align: center;
    width:1.80rem;
   font-size: .24rem;
    color:#fff;
    font-weight: 700;
}
.product .two .left-l{
    width:.55rem;
    height: .55rem;
    line-height: .55rem;
    text-align: center;
    font-size: .24rem;
    color:#333;
    float: left;
    background: url("../img/1 (10).png")no-repeat 0 0;
    background-size: cover;
}
.product .three .left-l{
    width:.55rem;
    height: .55rem;
    line-height: .55rem;
    text-align: center;
    font-size: .24rem;
    color:#333;
    float: left;
    background: url("../img/1 (9).png")no-repeat 0 0;
    background-size: cover;
}
.product .four .left-l{
    width:.55rem;
    height: .55rem;
    line-height: .55rem;
    text-align: center;
    font-size: .24rem;
    color:#333;
    float: left;
    background: url("../img/1 (4).png")no-repeat 0 0;
    background-size: cover;
}

#page2 .product{
    opacity: 1;
}

#page2 .one, #page2 .three{
    opacity: 1;
    -webkit-animation: slideOutLeft 1s ease-in ;
    animation: slideOutLeft 1s ease-in ;
}
#page2 .two, #page2 .four{
    opacity: 1;
    -webkit-animation:slideOutRight 1s ease-in ;
    animation:slideOutRight 1s ease-in ;
}
.swiper-slide ul .bom{
    position: absolute;
    left:0;
    bottom:-.27rem;
    width:100%;
    height: 1.35rem;
    background: url("../img/1 (15).png")no-repeat 0 0;
    background-size: cover;
}
.slide1 .bom{
    opacity: 1;
}
#page0 .bom, #page1 .bom, #page2 .bom,
#page3 .bom,#page4 .bom,#page5 .bom,#page6 .bom{
    opacity: 1;
    -webkit-animation:slideInUp 1s ease-in ;
    animation:slideInUp 1s ease-in ;
}
.swiper-slide .sun{
    opacity: 1;
    width:3.5rem;
    height: 3rem;
    position: absolute;
    top:2.1rem;
    margin:auto;
    left:0;
    right: 0;
    background: url("../img/1 (7).png")no-repeat 0 0;
    background-size: cover;
    -webkit-animation: myScale 2s Linear infinite;
    animation: myScale 2s Linear infinite;
}
.swiper-slide .sun-text{
    width:3rem;
    height: 3rem;
    opacity: 1;
    position: absolute;
    top:3.1rem;
    margin:auto;
    left:0;
    right: 0;
    text-align: center;
    font-size: .5rem;
    color:#fff;
}
.swiper-slide .sun-text span{
    width:3rem;
    display: block;
    margin:0 auto;
}
.swiper-slide .sun-text p{
    font-size: .24rem;
    width:3rem;
    display: block;
    margin:0 auto;
    color:greenyellow;
}
.swiper-slide .person{
    position: absolute;
    opacity: 1;
    width:2rem;
    height: .5rem;
    line-height: .5rem;
    top:1.2rem;
    margin:auto;
    left:0;
    right: 0;
    font-size: .38rem;
    color:plum;
}
#page1 .swiper-slide .sun{
    -wibkit-animation: myScale 2s Linear infinite;
    animation: myScale 2s Linear infinite;
}
@keyframes myScale {
    from{
        -webkit-transform: scale(0.5);
        -moz-transform : scale(0.5);
        -ms-transform : scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);;
    }to{
             -webkit-transform: scale(1.3);
             -moz-transform: scale(1.3);
             -ms-transform: scale(1.3);
             -o-transform : scale(1.3);
             transform: scale(1.3);;
         }
}
/*我的信息页面*/
.swiper-slide ul .line{
    position: absolute;
    top:1.98rem;
    left:0;
    right: 0;
    margin:auto;
    width:3.2rem;
    height: 0.06rem;
background: linear-gradient(to left,#fbee04, #d5b2c3,#02ddfd,#fa6105) ;
}
/*这个page1，一会儿也是要改成page3的；*/
#page3 .line{
    opacity: 1;
    -webkit-animation:fadeOutLeft .3s ;
    -o-animation:fadeOutLeft .3s  ;
    animation:fadeOutLeft .3s  ;
}
/*这个page1，一会儿也是要改成page2的；*/
#page3 .info{
    opacity: 1;
    -webkit-animation:zoomIn 1s ;
    -o-animation:zoomIn 1s ;
    animation:zoomIn 1s  ;
}
.swiper-slide ul .info{
    width:2.8rem;
    height: 2.5rem;
    /*这个一会儿是要删除的*/
    background: #ebebeb;
    position: absolute;
    left:.2rem;
    top:3.5rem;
    -webkit-transform: rotate(-10deg);;
    -moz-transform: rotate(-10deg);;
    -ms-transform: rotate(-10deg);;
    -o-transform: rotate(-10deg);;
    transform: rotate(-10deg);;
    padding-top:.2rem;
    box-sizing: border-box;
}
.swiper-slide ul .info div{
    line-height: .3rem;
    margin-left:.2rem;
    font-size: .23rem;
}
.swiper-slide ul .item22{
    top:2.3rem;
}
#page3 .item22{
    opacity: 1;
    -webkit-animation:zoomIn 1s infinite;
    -o-animation:zoomIn 1s infinite;
    animation:zoomIn 1s infinite;
}
#page3 .item33{
    opacity: 1;
    -webkit-animation:fadeInRight 1s;
    -o-animation:fadeInRight 1s;
    animation:fadeInRight 1s;
}
#page3 .item1{
    opacity: 1;
    -webkit-animation:fadeInRight 1s;
    -o-animation:fadeInRight 1s;
    animation:fadeInRight 1s;
}
#page3 .item4{
    opacity: 1;
    -webkit-animation:fadeInRight 1s;
    -o-animation:fadeInRight 1s;
    animation:fadeInRight 1s;
}

 /*我的擅长*/
.swiper-slide .like{
    width:.99rem;
    height: .3rem;
    background: #eee;
    position: absolute;
    font-size: .20rem;
    text-align: center;
    color:plum;
    left:.3rem;
    top:1.4rem;
    -webkit-transform: rotate(-15deg) ;
    -moz-transform: rotate(-15deg) ;
    -ms-transform: rotate(-15deg) ;
    -o-transform: rotate(-15deg) ;
    transform: rotate(-15deg) ;;
    
    box-shadow: .18rem .18rem .2rem .2rem  rgba(0,0,0,.2);
}
#page4 .like{
    opacity: 1;
    -webkit-animation: fadeInLeft 2s;
    -o-animation: fadeInLeft 2s;
    animation: fadeInLeft 2s;
}
.swiper-slide .v-line1{
    width:.09rem;
    height: .63rem;
    background: #d3ef38;
    position: absolute;
    top:1.5rem;
    right: .59rem;
}
.swiper-slide .v-line2{
    width:.09rem;
    height: .63rem;
    background: #d3ef38;
    position: absolute;
    top:2.96rem;
    right: .59rem;
}
.swiper-slide .v-line3{
    width:.09rem;
    height: .63rem;
    background: #d3ef38;
    position: absolute;
    top:4.42rem;
    right: .59rem;
}
.swiper-slide .v-line4{
    width:.09rem;
    height: .63rem;
    background: #d3ef38;
    position: absolute;
    top:1.5rem;
    right: .59rem;
}
#page4 .v-line1{
    opacity: 1;
    -webkit-animation: fadeInRight .3s;
    -o-animation: fadeInRight .3s;
    animation: fadeInRight .3s;;
}
#page4 .v-line2{
    opacity: 1;
    -webkit-animation: fadeInRight .3s;
    -o-animation: fadeInRight .3s;
    animation: fadeInRight .3s;;
}
#page4 .v-line3{
    opacity: 1;
    -webkit-animation: fadeInRight .3s;
    -o-animation: fadeInRight .3s;
    animation: fadeInRight .3s;;
}
#page4 .v-line4{
    opacity: 1;
    -webkit-animation: fadeInRight .3s;
    -o-animation: fadeInRight .3s;
    animation: fadeInRight .3s;;
}
#page4 .v-line5{
    opacity: 1;

}
#page4 .v-line6{
    opacity: 1;

}
#page4 .v-line7{
    opacity: 1;

}

.swiper-slide .v-line5{
    width:.63rem;
    height: .63rem;
    background: #a3aaba;
    position: absolute;
    top:2.23rem;
    right: .39rem;
    border-radius: 15px 3px 15px 3px;
}
.swiper-slide .v-line6{
    width:.63rem;
    height: .63rem;
    background: #a3aaba;
    position: absolute;
    top:3.69rem;
    right: .39rem;
    border-radius: 15px 3px 15px 3px;
}
.swiper-slide .v-line7{
    width:.63rem;
    height: .63rem;
    background: #a3aaba;
    position: absolute;
    top:5.15rem;
    right: .39rem;
    border-radius: 15px 3px 15px 3px;
}
.swiper-slide .like-info{
position: absolute;
    width:2.3rem;
    height: 4rem;
    top:2rem;
    left:.4rem;
    font-size: .16rem;
}
.swiper-slide .like-info div:nth-child(1){
    position: absolute;
    left:0;
    top:.2rem;
}
.swiper-slide .like-info div:nth-child(2){
    position: absolute;
    left:0;
    top:1.3rem;
}
.swiper-slide .like-info div:nth-child(3){
    position: absolute;
    left:0;
    top:3rem;
}
#page4 .like-info{
    opacity: 1;
    -webkit-animation: zoomIn 2s .5s 2;
    -o-animation: zoomIn 2s .5s 2;
    animation: zoomIn 2s .5s 2;

}
/*我的作品*/
/*这个page1，一会儿也是要改成page5的；*/
#page5 .person{
    opacity: 1;
    font-size: .3rem;
}
#page5 .item1{
    opacity: 1;
    -webkit-animation: zoomInLeft 1s ease-in ;
    animation: zoomInLeft 1s ease-in ;
}
#page5 .item2{
    opacity: 1;
    -webkit-animation: slideInRight 2s ease-in ;
    animation: slideInRight 2s ease-in ;
}
#page5 .item3{
    opacity: 1;
    -webkit-animation: slideInDown 1s ease-in ;
    animation: slideInDown 1s ease-in ;
}
#page5 .item4{
    opacity: 1;
    -webkit-animation: rollOut 1s ease-in ;
    animation: rollOut 1s ease-in ;
}
#page5 .line{
    opacity: 1;
}
.coding{
    position: absolute;
    width:3rem;
    height: 3.4rem;
    margin:auto;
    left:0;
    top:2.3rem;
    right:0;
    box-shadow: 6px 6px 15px 10px yellow;
    border-radius: 15px;
}
.coding img{
    position: absolute;
    width:1.2rem;
    height: 1.2rem;
    margin:auto;
    top:.4rem;
    right:.1rem;

}
.coding div{
    width:1.6rem;
    height: 4rem;
    margin-left:15px;
    margin-top:15px;
}
.coding div a{
    color:peachpuff;
}
#page5 .coding{
    opacity: 1;
    -webkit-animation: zoomOutLeft 2s ease-out;
    -o-animation: zoomOutLeft 2s ease-out;
    animation: zoomOutLeft 2s ease-out;;
}


/*这个page1，一会儿也是要改成page6的；*/
#page6 .line-v{
    top:3.5rem;
    left:0;
    width:6rem;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);;
}
#page6 .line{
    opacity: 1;
}
.swiper-slide .thank-d {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top:1.5rem;
    left:0;
    right:0;
    margin:auto;

}
.swiper-slide .thanks{
    width: 3rem;
    height: 2rem;
    border-radius: 25px;
    position: absolute;
    top:3.8rem;
    left:0;
    right:0;
    margin:auto;
    background: url("../img/thanks.png")no-repeat 0 0;
    background-size:3rem 1.2rem;
}
#page6 .thanks{
opacity: 1;
    -webkit-animation: zoomIn 2s .3s infinite;
    -o-animation: zoomIn 2s .3s infinite;
    animation: zoomIn 2s .3s infinite;;
}
.music{
    opacity: 0;
    width:.5rem;
    height: .5rem;
    position: absolute;
    z-index: 100;
    top:.98rem;
    right:0.15rem;
    background: url("../img/music.png")no-repeat;
    background-size:0.5rem  0.5rem;
    border-radius: 50%;
    overflow: hidden;

}
.musicMove{
    -webkit-animation: move 1.5s infinite;
    -o-animation: move 1.5s infinite;
    animation: move 1.5s infinite;
}
@keyframes move {
    0%{
        -webkit-transform: rotate(0deg);;
        -moz-transform: rotate(0deg);;
        -ms-transform: rotate(0deg);;
        -o-transform: rotate(0deg);;
        transform: rotate(0deg);;;
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);;
    }
}
.top{
    width:.5rem;
    height: .5rem;
    background: url("../img/web-swipe-tip.png")no-repeat 0 0;
    background-size: 100% 80%;
    position: absolute;
    margin: auto;
    left:0;
    right: 0;
    bottom:.5rem;
    z-index: 990;
    -webkit-animation: bounce 1s infinite;
    -o-animation: bounce 1s infinite;
    animation: bounce 1s infinite;;

}
